citizen/system_resources/
crashes/0c9a9fb3-afc1-45cd-b883-d83d0e99e73e-full.dmp
crashes/0c9a9fb3-afc1-45cd-b883-d83d0e99e73e.dmp
server-data/db/default/000004.sst
server-data/db/default/000021.log
server-data/db/default/CURRENT
server-data/db/default/IDENTITY
server-data/db/default/LOCK
server-data/db/default/LOG
server-data/db/default/LOG.old.1662099163405792
server-data/db/default/LOG.old.1662116508667650
server-data/db/default/LOG.old.1662124668812568
server-data/db/default/LOG.old.1662128807048274
server-data/db/default/LOG.old.1662404921188426
server-data/db/default/LOG.old.1662546389557847
server-data/db/default/MANIFEST-000020
server-data/db/default/OPTIONS-000020
server-data/db/default/OPTIONS-000023
server-data/resources/\[new\]/dobby_coke_run_cayo_perico/
