
###################
##      Maps     ##
###################
start AutoLuxe
start gabz_mrpd
start imports
start nadrp-prison
start psb-mlo
start pdm-mlo
start nw_mine
start bob74_ipl
start nadrp-court
start gabz_bennys
#start ls_original
start gabz_mrpd
start gabz_harmony
start gabz-hayes
start gabz_pillbox_hospital
start beanmachine
start gabz-hayes
start gabz-harmony
#start ls_original
start nadrp-church
start LMC
#start nadrp-mechanic
start nadrp-trees
start burgershot
start ranch
start gabz_vu
exec scripts.cfg
