body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.action {
  display: contents;
  visibility: hidden;
}

.icon {
  display: contents;
  visibility: hidden;
  padding: none;
  margin: none;
}

.alertMessage {
  padding: 5px 0;
}

.alert {
  width: fit-content;
}
